@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: "Pretendard", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-4xl leading-tight font-bold tracking-tight;
  }

  h2 {
    @apply text-3xl leading-tight font-semibold;
  }

  h3 {
    @apply text-2xl leading-snug font-semibold;
  }

  p {
    @apply leading-7;
  }
}
